<!DOCTYPE html>
<html>
  <header>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </header>
  <body>
    <div class="container">
      <h1><b>Privacy policy</b></h1>
      <p>Privacy policy let you know how to use your personal information collected from websites by us.
        Please read secret-keeping policy carefully before you use the service or provide any personal information.</p>
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                <strong>The information of users have been collected and the method of collection.</strong>
              </a>
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
              In this policy, “ user information"means the information related to user recognition, action history on media services and other information made or accumulated
              relating to users or four-wire termination of users as smartphones, personal computers that we have collected  based on policy.<br>
              User information collected by Company in this service will be figured as below based collecting method.<br>
              (1) The information has been provided by user<br>
              The following information has been given to users who use this service.<br>
              · Name<br>
              · Email address<br>
              · Date of birth<br>
              · Sex<br>
              · Postal code<br>
              · Credit information<br>
              · The information that the users have provided when they have entered log-in form stipulated by the Company.<br>
              (2) The information that we have collected when the users use this service. We can collect the information of access to this service and how to use it,
              including the following information:<br>
              · Audit history of this service<br>
              · Using history of this service<br>
              · Location information<br>
              · Contact information<br>
              · The path to this service<br>
              . Specific ID of devices<br>
              . Four-wire termination information used<br>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                <strong>Collecting the information of users and the purpose of usage</strong>
              </a>
            </h4>
          </div>
          <div id="collapse2" class="panel-collapse collapse in">
            <div class="panel-body">
              Our company would be able to use User information collected with the following purposes:<br>
              · Providing for our services<br>
              · Token verification, service verification<br>
              · Carrying out some questions for investigation<br>
              · Providing for score services<br>
              · For investigation, statistic, data analyze about marketing<br>
              · Advertising or spreading product of the Company and the third party.<br>
              · For exchange<br>
              · Using for other purposes stipulated specially in our service<br>
              · For dependently using purposes based on using purposes mentioned above
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                <strong>Providing information for the third party</strong>
              </a>
            </h4>
          </div>
          <div id="collapse3" class="panel-collapse collapse in">
            <div class="panel-body">
              For personal information in the volume of user information except legitimate reasons, <u>for example when
              competent authorities have required to comply with  the regulations of legislation</u> or the regulations have been
              allowed by the legislation,  we will then provide. In the case the users haven't been allowed yet, we then haven't provided for the third party.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                <strong>Handling personal information</strong>
              </a>
            </h4>
          </div>
          <div id="collapse4" class="panel-collapse collapse in">
            <div class="panel-body">
              We aren't responsible for protecting personal information in the services of the third party linking from our services.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                <strong>Regarding revealing, editing and deleting personal information.</strong>
              </a>
            </h4>
          </div>
          <div id="collapse5" class="panel-collapse collapse in">
            <div class="panel-body">
              In the case we receive the request of providing, editing, deleting...information from the related people, <u>we will then verify, next we will have quick feedback</u>.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                <strong>Updating terms of <u>secret-keeping</u></strong>
              </a>
            </h4>
          </div>
          <div id="collapse6" class="panel-collapse collapse in">
            <div class="panel-body">
              We will change secret-keeping policy chronologically without notifying the customer. However, we will update this website again after change and take effect from
              the updating time.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
                <strong>Relating contacts to user information</strong>
              </a>
            </h4>
          </div>
          <div id="collapse7" class="panel-collapse collapse in">
            <div class="panel-body">
              In case you have any question related to user information, please contact with us <u>via email</u>: damelagi.org@gmail.com
            </div>
          </div>
        </div>
    </div>
    <h4>Additional terms</h4>
    <h6><strong>Establish on June 18th, 2021</strong></h6>
  </body>
</html>
