<!DOCTYPE html>
<html>
  <header>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </header>
  <body>
    <div class="container">
      <h1><b>Term of use: Products and Services of Damelagi</b></h1>
      <h4>These terms have been provided by Damelagi service supplier</h4>
      <p>During the accessing process, using any content or images of this service, you (user) make sure that you have read, understood and agreed to comply
        with these terms. If you do not agree to these terms, please do not use this service.
      </p>
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                <strong>Apply</strong>
              </a>
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
              1. These terms would have been applied for all relationships related to using Service between you and our company.<br>
              2. All rules relating to using this service that we have posted on the website is a part of this term.<br>
              3. In case that the content of term of use and the content of explanation for the service is out of term of use, the content in term of use is priority.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                <strong>Secret-keeping regulations</strong>
              </a>
            </h4>
          </div>
          <div id="collapse2" class="panel-collapse collapse in">
            <div class="panel-body">
              1. About personal information of members, excluding the terms stipulated in terms of use, we would carry out abiding by the rules
              mentioned in secret-keeping policy.<br>
              2. The information and data that users have  provided  to our company without in private form, our company has the right to use and
              public such information carefully, the users will not have the right to claim.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                <strong>Registration of use</strong>
              </a>
            </h4>
          </div>
          <div id="collapse3" class="panel-collapse collapse in">
            <div class="panel-body">
              1. Users who want to register to use our services must follow the steps of the company and when having been accepted from the company,
              the user has completed the registration.<br>
              2. After you have completed registration of the account, a service agreement would have been made between the users  and our company,
              and the users would  be able to use the service under that agreement.<br>
              3. In the following cases, our company wouldn’t  have accepted for the users registering of using services: <br>
              (1) In the case of errors, mistakes or omissions when you have implemented registration steps.<br>
              (2) In case the users have violated one of the terms of use.<br>
              (3) In the case of anti-social forces (underworld, underworld members, clans, anti-social forces ...) or those related to those forces.<br>
              (4) In addition, there are other cases that our company does not recognize as valid registration.<br>
              4. For users who can register for  using our service, it is necessary  to agree with  the full terms of use. After completing the registration,
              the user is the customer of our company.<br>
              5.  When there is a change in the registration, the user must inform us about the content of change in the way specified by the Company.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                <strong>Log out</strong>
              </a>
            </h4>
          </div>
          <div id="collapse4" class="panel-collapse collapse in">
            <div class="panel-body">
              1. The users can log out of using the service in the way specified by the company.<br>
              2.  In the case that the users perform any of the actions listed in the following list, the company will be able to force the user for
              cancellation in the decision  of the company. Also, we are not responsible for any damage caused by it.<br>
              (1) In the case of violation of these Terms and other regulations.<br>
              (2) In addition, our company wouldn't allow the users to continue using the service if they are not our customer.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">
                <strong>ID user and password</strong>
              </a>
            </h4>
          </div>
          <div id="collapse5" class="panel-collapse collapse in">
            <div class="panel-body">
              1. In the case that the users have registered to use the service based clause 2, we will release a corresponding identifier (ID) for  the users.<br>
              2. The users shall be responsible for managing his or her ID and password and shall not allow any third party to use , lend, transfer, sell or buy.<br>
              3. We are not responsible for any damages caused by irresponsible users in ID or password management, or being used by third parties, etc.<br>
              4. Users can use this service by using an ID for each user.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">
                <strong>Copyright</strong>
              </a>
            </h4>
          </div>
          <div id="collapse6" class="panel-collapse collapse in">
            <div class="panel-body">
              1. All intellectual property rights and other rights related to this service belong to us and the users just have the right  for the only purpose of using
              this service.<br>
              2. The right of content created and posted by the users will belong to the proprietary of the users.<br>
              3. Regarding the content that our company will post as  events etc., it will not be subjected to these problems above. The use of our company’s content
              and the scope of rights indicated in the service when we  have posted.<br>
              4. Users must ensure that information about the content does not violate  the rights of third parties. In the case of having disputes with the third party,
              the company shall have the right to deal with the posted content in accordance with the law of Vietnam.<br>
              5. The company will be able to use user-generated content within the scope below.<br>
              (1)  For the promoting activities of our company (including overseas expansion). We will use that content  for advertising but will be limited.<br>
              (2) For building, improvement, maintaining our system.<br>
              (3) For providing the service conveniently.<br>
              6. When using the content stipulated in clause 3 and other above of the company, the users may assign the right of use to another user and then the users must agree
              that the users will not continue to use the service to guarantee the right of copyright for the assignee.<br>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">
                <strong>The acts would have been banned for using:</strong>
              </a>
            </h4>
          </div>
          <div id="collapse7" class="panel-collapse collapse in">
            <div class="panel-body">
              The users do not implement the following acts when using this service. In the case of violation, the whole of content posted can be deleted or a part of content has not been
              allowed using any more, or the users can be removed.<br>
              1. Acts of law offense or involving crimes or attachment.<br>
              2. Act of discrimination, slandering  our company or others, or damaging their honor or reducing their trust with the company.<br>
              3. Acts of IPR violation, copyright, personal right, honor, other rights and benefits of the company, the users or the third parties.<br>
              4. Acts contrary of public orders and morality.<br>
              5. Sending the information to another user via this service or posting the content that the company doesn't allow as below:<br>
              (A) Information includes cruel content<br>
              (B) Information includes sexual stimulate content<br>
              (C) Information includes content that causes discrimination.<br>
              (D) Information includes suicidal, self-inflicted content.<br>
              (E) Information includes anti-social content.<br>
              (F) Information includes offensive content for others.<br>
              (J) Information violates on individual rights.<br>
              (K) Information with commercial content, propaganda that the company does not allow.<br>
              6. Acts of sexual assault.<br>
              7. Acts of trying to cause illegally and unauthorized access.<br>
              8. Acts interfere with the operation of this service.<br>
              9. Acts of fake user.<br>
              10. User ID or password usage of other users in this service.<br>
              11. Advertising, spreading, using this service for business and unauthorized purposes.<br>
              12. Gathering information of other users in this service.<br>
              13. Violation of the rules regarding the use of this service have been posted on our website.<br>
              14. Benefiting for the forces against society and others.<br>
              15. Any other action we call unsuitable.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">
                <strong>Change, suspension or termination of service</strong>
              </a>
            </h4>
          </div>
          <div id="collapse8" class="panel-collapse collapse in">
            <div class="panel-body">
              1. The Company may change the contents of this service without advance notification to users.<br>
              2. The Company may suspend the service without notice to users if one of the following reasons happens:<br>
              (1) Maintenance service<br>
              (2) There are some crash with computer and Internet<br>
              (3) This service cannot work in case of such events:  earthquakes, floods or tsunamis, unexpected incidents
              like fire and power failure, war and conflict, riots, labor disputes, etc. can not operate.<br>
              (4) In the case, the Company determines that it is required to suspend this service on an operational or technical basis.<br>
              3. Company may terminate all or a part of this service without notification to the user in advance.<br>
              4. The Company will not be responsible for any damages caused to the user by any change, suspension, or termination of the contents
              of this service under this section, except the case of obligations of the company or Law violations
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">
                <strong>The scope of compensation</strong>
              </a>
            </h4>
          </div>
          <div id="collapse9" class="panel-collapse collapse in">
            <div class="panel-body">
              In providing the service, we will be responsible for the reimbursement for the users when the users was damaged due to the fault of the
              company and the illegal acts under the responsibility of the company depending on the extent of damage (compensation for the amount of money
              that people must pay to us in the 12 months) and will not be liable for incidental damages, indirect damage or damage in the future.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse10">
                <strong>The irresponsibility of our company</strong>
              </a>
            </h4>
          </div>
          <div id="collapse10" class="panel-collapse collapse in">
            <div class="panel-body">
              1. We are not responsible for the legality, morality, reliability or accuracy of the content posted by users.<br>
              2. We have no obligation to monitor or store the user-posted content.<br>
              3. We do not engage in communications and activities between users. In the event of rising disputing between users,
              we will not settle the dispute between the users nor will we be held liable.<br>
              4. We are not responsible for any damages caused by the addition, modification of the content of this service,
              suspension or termination of this service.<br>
              5. In the following cases, the company will be able to view, save and disclose to third parties about the content
              and messages. We are not responsible for any damage caused by it.<br>
              (1) In case of the need to clarify the technical defects of this service and solve it<br>
              (2)  In the case of receiving official requests based on laws and ordinances from the court and the police.<br>
              (3) Whenever the company determines that there is imminent danger to life, body, human property, and emergency.<br>
              (4) In case of arising to operate this service properly.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">
                <strong>Change Terms of Service</strong>
              </a>
            </h4>
          </div>
          <div id="collapse11" class="panel-collapse collapse in">
            <div class="panel-body">
              1. The Company will be able to change the content of these terms without the user's consent<br>
              2. If we change the terms of this agreement, we will notify the user of the details of the changes.
              If the user uses this service after the notice changed , we will consider it like a deal for the users.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse12">
                <strong>Transfer the terms of the service contract</strong>
              </a>
            </h4>
          </div>
          <div id="collapse12" class="panel-collapse collapse in">
            <div class="panel-body">
              1. The users can not assign or transfer the rights or obligations of this contract to third parties.<br>
              2. In the event that we transfer the business related to this service to another company, we will transfer the status on
              the service-using contract, the rights and obligations under this contract, the information registration and other customer
              information due to business transfer.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse13">
                <strong>Separation</strong>
              </a>
            </h4>
          </div>
          <div id="collapse13" class="panel-collapse collapse in">
            <div class="panel-body">
              Any provision of this agreement or any part of the contract is deemed invalid under the Consumer Protection Law or any other
              law or regulation, the remaining provisions of this agreement and some of the remaining terms will continue to work.
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse14">
                <strong>Governing Law and Jurisdiction</strong>
              </a>
            </h4>
          </div>
          <div id="collapse14" class="panel-collapse collapse in">
            <div class="panel-body">
              1. These terms of service are in accordance with Vietnamese law.<br>
              2. If there is a lawsuit between the user and the company, the District Court of Vietnam will be the exclusive authority of the agreement.<br>
            </div>
          </div>
        </div>
    </div>
    <h4>Additional terms</h4>
    <h6><strong>Establish on May 06, 2021</strong></h6>
  </body>
</html>
