.btn_submit {
  background-color: #25c9d0;
  color: white;
}

.dont-break-out {
  word-wrap: break-word !important;      /* IE 5.5-7 */
  white-space: -moz-pre-wrap !important; /* Firefox 1.0-2.0 */
  white-space: pre-wrap !important;      /* current browsers */
  overflow-wrap: break-word !important;
  hyphens: auto;
  word-break: break-word !important;
}

.data-input {
  width: 100%;
}
