body {
  font-family: 'Poppins', sans-serif;
  background: #ffffff;

  .main-content {
    width: 100%;
    margin-left: 0.01%;

    p {
      font-size: 1.1em;
      font-weight: 300;
      line-height: 1.7em;
      color: #999;
    }
  }

  .button {
    width: 85%;
  }
}
