# Config App
SECRET_KEY=tmZKBXKzKecM6kZOIlPCqk
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_HOST=
DB_PORT=
ENVIRONMENT=

# Hosts
CUSTOM_DOMAIN=
API_HOST=localhost
API_PORT=8000
UI_HOST=localhost
UI_PORT=8000
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
USE_X_FORWARDED_HOST=
WEB_INTERNAL=

# App
DEBUG=True
DEFAULT_CLIENT_SECRET=FRgi0uEZKj79EfBifp2xk1KSbUqnmVEij88WW3jQXgmTXNOiMlEyuts5YNqzYHHKWG79EqpZjF8erXNCtWaJAxdnGRbOu1FiLXXjueXbHg3t8mvbxvxBYlbsxOlSOdHl
DEFAULT_CLIENT_ID=BwRi7vofWyieSaGILcQPfm9ytq6AUrlmjIIt1Sbu

# Email service
EMAIL_HOST=
EMAIL_HOST_USER=''
EMAIL_HOST_PASSWORD=''
DEFAULT_FROM_EMAIL=
DEFAULT_EMAIL_ADMIN=
DEV_MAIL=
BLOCKED_EMAIL_DOMAINS=paradox.ai

LINK_EVENT_SYSTEM=

#Slack
SLACK_CLIENT_ID=
SLACK_CLIENT_SECRET=
SLACK_USER_OAUTH_TOKEN=
SLACK_BOT_USER_OAUTH_TOKEN=
SLACK_BOT_USER_ID=
SLACK_DEFAULT_CHANNEL=
SLACK_LEAVE_CHANNEL=
SLACK_LUNCH_CHANNEL=
DEV_SLACK_USER_ID=
DEV_LINE_MANAGER_SLACK_USER_ID=

HRM_LEAVE_REQUEST_LINK=
HRM_NEW_LEAVE_REQUEST_LINK=
HRM_NEW_WFH_REQUEST_LINK=
HRM_APPROVAL_REQUEST_LINK=

#WIT
WIT_TOKEN=
INTENT_THRESHOLD=

UBUNTU_USER=

# Calendar Service
CALENDAR_ID=

# Config CORS
CORS_ALLOW_ALL_ORIGINS=True
CORS_ALLOWED_ORIGINS=http://localhost:8000,http://127.0.0.1:8000

# Swagger
ALLOWED_SWAGGER=

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
STORE_USER_FILES_ON_S3=False
AWS_S3_REGION_NAME=

#oauth2 config
PRIVATE_KEY_FILE=jwt
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=
APP_NAME=
USE_INVITE_ATTENDEES_GOOGLE=

#login google
LIMIT_DOMAIN=
EMAIL_DOMAIN=
